<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The World - @ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/lib/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="sidebar">
        <img class="headshot" src="~/img/vbali.jpg" title="Vaibhav Bali" />
        <span id="username">Vaibhav Bali</span>

        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="main">
            <button id="sidebarToggle" class="btn btn-primary btn-sm">
                <i class="fa fa-angle-left"></i>
            </button>

            @RenderBody()
        </div>
        <div id="footer">
            <p class="text-primary">&copy; 2015 The World Ltd.</p>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>


    @RenderSection("Scripts", false)
</body>
</html>
