<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The World - @ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="sidebar">
        <img class="headshot" src="~/img/vbali.jpg" title="Vaibhav Bali" />
        <span id="username">Vaibhav Bali</span>

        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="main">
            <button id="sidebarToggle">Toggle Sidebar</button>

            @RenderBody()
        </div>
        <div id="footer">
            &copy; 2015 The World Ltd.
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
